*{
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body{
margin:0px;

}

header h1{
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    font-weight: bolder;

}

header{
    padding: 20px;
    background-image: linear-gradient(180deg,#f0390b,#1267b6);
}

nav {
    background-color: #333;
    overflow: hidden;

}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color:white;
    
}

nav a:hover {
    background-color: rgb(235, 94, 0);
    color: black;
    
}
.nav-item a:hover
{
    color: black;
}
main{
    background-color: #faf8f8;
}
main h1,h3{
    padding-top: 40px;
    text-align: center;
    font-weight: bolder;
}
#head{
    background-color: #CFD8DC;
}
#headimg img{
    width:300px;
    color:whitesmoke;    
}
main iframe{
    margin-left: 30%;
}
#thumbnail
{
    margin-left: 20%;
}
#book >img{
margin-left: 30%;
box-shadow: 0 4px 8px 0 rgb(209, 136, 136), 0 6px 20px 0 rgb(218, 142, 142);
}
footer{
    background-color: #333333;
    display: block;
    height:75px;
    padding:20px;
}
footer a{
    color:white;
    text-decoration:none;
}
#booksec{
    background-color: #CFD8DC;
}
#websiteimg
{
    margin-left: 30%;
}
#websec{
    background-color: #ffff8d;
    
}
#idesec{
    background-color: #ffff8d;
}
#vidsec{
    background-color:skyblue ;
}
#byvipin
{
    text-align: center;
}