*{
    box-sizing: border-box;
    
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-fluid h1 {
    text-align: center;
    font-size: 40px;
    color:whitesmoke;
    font-weight: bolder;
}
.container-fluid {
    padding:20px;
    background-image: linear-gradient(180deg,#a517ba,#5f1782);
}

nav {
    background-color: #333;
    overflow: hidden;

}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color:white;
    
}

nav a:hover {
    background-color: rgb(235, 94, 0);
    color: black;
    
}
.nav-item a:hover
{
    color: black;
}


#lang
{
    background-color: rgb(216, 208, 208);
}
.box-area
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #262626;

}
.single-box
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: rgb(182, 218, 150);
    text-align: center;
    margin: 20px;
    padding:20px;
    transition: .1s;


}
.img-area
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid #ddd;
    margin-bottom: 10px;
    padding:20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;


}
.single-box:nth-child(1) .img-area
{
    background-image: url(photos/python.png);
    
}
.single-box:nth-child(2) .img-area
{
    background-image: url(photos/c_img.jpg);
}
.single-box:nth-child(3) .img-area
{
    background-image: url(photos/c++_img.png);
}
.single-box:nth-child(4) .img-area
{
    background-image: url(photos/java.png);
}

.single-box:nth-child(1):hover
{
    background-image: linear-gradient(#0a5cfc,#fde83a);
    
}
.single-box:nth-child(2):hover
{
    background-image: linear-gradient(#2460A7FF,#FFFFFF);
}
.single-box:nth-child(3):hover
{
    background-image: linear-gradient(#0a5cfc,#B3C7D6FF);
}
.single-box:nth-child(4):hover
{
    background-image: linear-gradient(#ff6600,#3399ff);
}

.single-box:nth-child(1) .clickhereinsinle-box
{
    font-size: 30px;
}
.single-box:nth-child(2) .clickhereinsinle-box
{
    font-size: 30px;
}
.single-box:nth-child(3) .clickhereinsinle-box
{
    font-size: 30px;
}
.single-box:nth-child(4) .clickhereinsinle-box
{
    font-size: 30px;
}
.clickhereinsinle-box:hover {
    
    animation: shake 0.5s;
  
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.header-text
{
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}
.img-text
{
    padding-top: 10px;

}
.img-text p
{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.single-box:hover
{
   background-color:rgb(207, 150, 104);
   transform: scale(1.1);
   
}
.box-area-2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.single-box-2:nth-child(1) .img-area
{
    background-image: url(photos/webdeviamge.jpg);
}
.single-box-2:nth-child(2) .img-area
{
    background-image: url(photos/Android-app-development.jpg);
}
.single-box-2:nth-child(3) .img-area
{
    background-image: url(photos/machine.jpeg);
}
.single-box-2:nth-child(1):hover{
background-color: #e98fff;
}
.single-box-2:nth-child(2):hover{
    background-color: #5ee775;
    }
.single-box-2:nth-child(3):hover
{
    background-color: #7776d1;
 }    
.single-box-2
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding:20px;
    transition: .3s;

}

#clickonimage
{
    font-size:2vw;
   text-align: right;
    font-weight: bold;
}
main section h1
{
    text-align:center;
    font-size: 300%;
    font-weight: bolder;
}
section img
{
    
    padding-left: 25px;
    padding-bottom: 10px;
    
}
section h3
{
    text-align: right;
    padding-right: 20px;
   

}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position:;
    top: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: inline;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  
#dev
{
    background-color:#DDF2F4;
}
.someotheryoutube p
{
   text-transform: none;
   text-align: center;
   font-family:cursive;
   font-weight: bolder;
   font-size: 34px;
   text-decoration-color: coral;   
}
#cplink
{
    padding-left: 10px;
}
.buttons
{
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    float: inline-end;
    
}
#dsa

{
    background-color: black;
    padding-bottom: 10px;
    color:white;
}
#dsahead
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(78, 69, 69);
    color: #fff;
    text-align: center;
   
}

  


#Prerequsite
{
    font-size: 27px;
    color:orange;
    padding-left: 10px;
}
#RESOURCES
{
    text-transform: capitalize;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    padding-right:15px;
}
#gfg
{
    text-overflow: clip;
    font-size: 29px;
    padding-left: 10px;
}
#gfg1
{
    color:yellowgreen
}
#akvideo
{
    padding-left:10px;
}
#ak
{
    font-weight: bolder;
    font-variant:normal;
    font-style: oblique;
    font-size: 29px;
    padding-left: 10px;
}
#ak1
{
    font-size: 29px;
    padding-left: 10px;
}
#CodeChef
{
    text-overflow: clip;
    font-size: 29px;
    padding-left: 10px;
}
#CodeChef1
{
    color:brown;
}
#note
{
    text-align: center;
    font-size: 21px;
    color:white;
    font-weight: bold;
}
#freecourses
{
    background-image: linear-gradient(13deg,#8fb2ff, rgb(214, 116, 198));
}
#coursera_img
{
    width: 13%;
    border-color: black;
    border-radius: 10px;
    
}
#arrow {
    font-size: 100px;
    display: flex;
    justify-content: center;
   
   
  }
footer {
    background-color: black;
    overflow: hidden;
}  

footer a {
    text-decoration: darkkhaki;
    padding:20px;
    color:darkgrey;
    text-align: center;
    float: left;
} 
